*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.container{
  height: 100%;
  font-family: Ariel sans-serif;
}
h1{
  background: #D84727;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 800
}
.code{
  display: flex;
  justify-content: space-between;
}
.code-image{
  margin: 5% 10%;
}
.code-image img{
  height: 160px;
  width: 100%;
}
section{
  background: #042A2B;
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding: 20px;
}
footer{
  background: #EF7B45;
  color: #042A2B;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (max-width:600px)  {
  .code{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .code-image img{
    height: 160px;
    width: 250px;
    margin: 0 auto;
  }
  .code-image{
    margin-top: 40px;
  }
  section{
    font-size: 2em;
  }
}
